*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1F272B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    height: 100% ;
}

body {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

main {
  flex: 1;
  background-color: #FCEEC5;
}

/*
***************  HEADER / FOOTER  ********************
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 1rem 2rem;
    background-color: #FF9800; /*oppure #EE964B?*/
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    text-align: center;
    align-content: center;
    background-color: #FF9800; /*oppure #EE964B?*/
    padding: 0.2rem 0;    
    z-index: 1000;
    border-top: 2px solid #FF9800; 
}

.logo{
    cursor: default;
}

.nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
}

.nav ul li{
    flex: 1;
}

.nav ul li:not(:nth-last-child(-n+2)) {
    border-right: 2px solid black; 
    height: 70%;
    padding: 0 2rem;
}
.nav ul li:not(:last-child) {
    text-align: center;
    align-content: center; 
    padding: 0 2rem;
}

.nav a {
    padding: 1.5rem 1rem;
    text-decoration: none;
    font-size: 0.9rem;    
}

.top-right{
    position: fixed;
    top: 0;
    right: 0;    
    display: inline-block;
}

.nav .btn-login{
    display: inline-block;
    color: white;
    background-color: #1F272B;
    padding: 1rem;
    margin: 0.5rem 0.5rem;    
    padding: 1rem 2rem; 
}

.nav-profile-img{
    height: 50px;
    width: 50px;
}

.dropdown{
    display: inline-block;
    cursor: pointer;
    margin: 0.6rem 1rem 0 0; 
}

.dropdown-content{
    display: none;
    position: absolute;
    right: 0; /* Allinea a destra rispetto al contenitore */
    text-align: left;
    align-content: center;
    background-color: white;
    min-width: 9rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001; /* Sopra la nav */
}

.dropdown-content a{
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    padding: 0.8rem 1rem !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown a:hover{
    background-color: #FCEEC5;
}

footer {
    text-align: center;
    align-content: center;
    padding: 1rem;
    background-color: #c97800; /*oppure #EE964B?*/
    padding-bottom: 6rem;
}


/*
******************* HOME ************************
*/

.home-container {
    display: grid;
    grid-template-columns: 1fr; /* Una colonna */
    gap: 20px;
    padding: 20px;
    padding-top: 4vh;
    width: 100%;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.sidebar-suggeriti .vertical-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.card {
    border: 2px solid #FF9800; /*oppure #EE964B?*/
    padding: 15px;
    background: white;
}

.card-grid > .card{
    color: blue; /*oppure #2596BB?*/
}

.sidebar-destra-home-loggato {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.sidebar-destra-home-loggato > * {
    flex: 1;
}

.sidebar-destra-home-loggato:first-child {
    flex: 0 0 30em;
    background: white;
}

.sidebar-search{
    order: 3;
}

.home-box-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 2rem;
}

.form-controll{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.checkbox{
    flex-direction: row;
    gap: 20px;
}

/*
***************** PER DESKTOP *********************
*/

@media (min-width: 992px) {
    body {
        padding-bottom: 0;
    }

    .nav {
        position: static; /* Riporta la nav dentro l'header */
        height: auto;
        width: auto;
        padding: 0;
        border-top: none;
        height: 100%;
    }

    nav ul {
        width: auto;      
        gap: 0;
        justify-content: flex-end;
        height: 100%;
    }

    .nav ul li{
    flex: none;
    }

    nav ul li:not(:nth-last-child(-n+2)) {
        text-align: center;
        align-content: center;     
        border-right: 2px solid black; 
        height: 85%;
    }

    .nav ul li > a {
        padding: 1rem 1rem; 
    }

    .top-right{
        position: static;
        height: auto;
        width: auto;
        margin: 0;  
    }

    .dropdown-content {
        margin-right: 1rem;
    }

    footer{
        padding-bottom: 1rem;
    }

    .home-container {
        grid-template-columns: 2.9fr 1.1fr;
        margin: 0 auto;
    }

    .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-bottom: 0;
        padding: 2vh 3rem 2vh 3rem;
    }

    .sidebar-suggeriti .vertical-list {
        display: flex;
        flex-direction: column;
        grid-template-columns: none; /* Annulla le due colonne del mobile */
    }


    .home-logged-container {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 1fr; 
        gap: 25px;
        margin: 0 auto;
    }

    .sidebar-search{
        order: 0;
    }

    .home-box-form{
        margin: 0;
    }
}



/*
***************** CORSI *********************
*/
.courses-main, .groups-main{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.courses-container, .groups-container{
    width: 100%;
    height: 100%;
    margin: 0;
}

.courses-list, .groups-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    column-gap: 10px;
    list-style: none;
}

.course{
    line-height: 1.5;
    border-style: solid;
    border-color: #2596BB;
    border-radius: 10px;
    background-color: #BCF1F1;
    padding: 10px;
    margin: 8px;
}

.course h2{
    color: #2596BB;
    margin-bottom: 8px;
}

.course input{
    background-color: #2596BB;
    border-style: solid;
    border-color: #2596BB;
    border-radius: 5px;
    text-decoration: none;
    float: right;
}

.course input:hover{
    color: #FCEEC5;
}

.teachers-list ul{
    text-indent: 15px;
    list-style: disc;
    list-style-position: inside;
    padding-bottom: 8px;
}

.search-bar-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    height: 30px;
    margin: 20px 20%;
    border-style: solid;
    border-color: #FF9800;
    border-radius: 15px;
}

.search-bar-form input{
    background-color: #FCEEC5;
    border: none;
    outline: none;
    width: 70%;
}

.search-bar-form button{
    background-color: #FF9800;
    color: #1F272B;
    border-style: solid;
    border-radius: 15px;
    border-color: #FF9800;
    cursor: pointer;
    padding: 0 5px;
}


/*
***************** GRUPPI *********************
*/

.groups-main, .single-group-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.groups-main .top-bar{
    order: 1;
}

.groups-container{
    order: 3;
}

.group{
    line-height: 1.5;
    border-style: solid;
    border-color:  #1F272B;
    border-radius: 10px;
    padding: 10px;
    margin: 8px;
}

.group h2{
    color: #FF9800;
    margin-bottom: 8px;
}

.group form input{
    background-color: #FF9800;
    border-style: solid;
    border-color: #FF9800;
    border-radius: 5px;
    text-decoration: none;
    float: right;
}

.group input:hover{
    color: #FCEEC5;
}

.groups-aside{
    order: 2;
    display: flex;
    width: 80%;
    margin: 30px 10%;
    padding: 20px;
    border-style: solid;
    border-color: #FF9800;
    border-radius: 3px;
    justify-content: center;
}

.groups-aside form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.groups-aside h2{
    margin-bottom: 8px;
}

.groups-aside form div{
    display: block;
    padding: 2px;
    margin: 8px;
}

.groups-aside form button{
    background-color: #1F272B;
    color: #FF9800;
    border-style: solid;
    border-color: #1F272B;
    border-radius: 5px;
    justify-content: center;
    margin-top: 10px;
    padding: 4px;
    width: 80px;
}

.groups-aside form button:hover{
    color: #FCEEC5;
}

.groups-aside{
    display: none;
}

.groups-main .top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

.groups-main .search-bar-form input{
    width: 50%;
}

.filters-button-mobile{
    width: 20%;
    height: 30px;
    background-color: #1F272B;
    color: #FF9800;
    text-decoration: none;
    border-style: solid;
    border-color: #1F272B;
    border-radius: 5px;
    float: center;
    text-align: center;
}

.filters-button-mobile:hover{
    color: #FCEEC5;
    cursor: pointer;
}


/*
***************** SINGOLO GRUPPO *********************
*/
.single-group-main{
    padding: 20px;
}

.single-group-info{
    order: 1;
    margin : 5px;
}

.single-group-next-meetings{
    order: 2;
    margin : 5px;
}

.single-group-members{
    order: 3;
    margin : 5px;
}

.single-group-main h2, .single-group-main h3{
    color: #FF9800;
    margin-bottom: 8px;
}

.single-group-main h3{
    margin-top: 12px;
}

.single-group-info > p, .single-group-info > div, .single-group-members > p{
    margin: 10px 2px;
}

.single-group-description > p:nth-child(2){
    border-style: dotted;
    border-color: #1F272B;
    padding: 4px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}

.single-group-main table, .single-group-main th, .single-group-main td{
    border: 1px solid #1F272B;
    border-collapse: collapse;
    padding: 3px;
}

.single-group-main table{
    margin-right: auto;
    margin-left: auto;
}

.single-group-members form input{
    background-color: #FF9800;
    border-style: solid;
    border-color: #FF9800;
    border-radius: 3px;
    color: #1F272B;
    font-weight: bold;
    padding: 4px;
    margin: 30px 40%;
    width: 20%;
    
}

.single-group-next-meetings button{
    background-color: #2596BB;
    border-style: solid;
    border-color: #2596BB;
    border-radius: 3px;
    color: #1F272B;
    font-weight: bold;
    padding: 4px;
    margin: 30px 0;
    margin-right: 2%;
    margin-left: 70%;
    width: 150px;
}

.single-group-members form input:hover, .single-group-next-meetings button:hover{
    color: #FCEEC5;
    cursor: pointer;
}


/*
***************** DESKTOP *********************
*/

@media screen and (min-width:768px){
    .courses-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 96%;
        margin: 0 2%;
        list-style: none;
    }

    .groups-main{
        display: inline-block;
    }

    .groups-main .top-bar .search-bar-form{
        order: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .search-bar-form input, .groups-main .search-bar-form input{
        width: 85%;
    }

    .groups-container{
        width: 70%;
        padding: 0 10px;
        margin: 10px;
        float: right;
    }

    .groups-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 96%;
        margin: 0 2%;
        list-style: none;
    }

    .groups-aside{
        display: block;
        width: 25%;
        margin: 25px;
        padding: 20px;
        border-style: solid;
        border-color: #FF9800;
        border-radius: 3px;
    }

    .groups-aside form{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .groups-aside h2{
        margin-bottom: 8px;
    }

    .groups-aside form div{
        display: block;
        padding: 2px;
        margin: 8px;
    }

    .groups-aside form button{
        background-color: #1F272B;
        color: #FF9800;
        border-style: solid;
        border-color: #1F272B;
        border-radius: 5px;
        justify-content: center;
        margin-top: 10px;
        padding: 4px;
        width: 80px;
    }

    .groups-aside form button:hover{
        color: #FCEEC5;
    }

    .filters-button-mobile{
        display: none;
    }

    .single-group-main{
        display : block;
    }

    .single-group-info, .single-group-next-meetings{
        width: 60%;
        float: left;
    }

    .single-group-members{
        width: 30%;
        float: right;
        position: relative;
        top: 0;
    }
}

/*
*********************** LOGIN *************************
*/

.login-main-container {
    padding: 4vh 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    width: 100%;
    max-width: 80rem;
}

.login-section:first-child{
    height: 110%;
    border-bottom: 2px solid black;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.login-section h2 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    text-align: center;
}

.auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
}

.form-group label {
    font-size: 0.9rem;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    max-width: 19rem;
    height: 2rem;
    padding: 0 10px;
    border: 2px solid black;
    background-color: white;
    outline: none;
    font-size: 1rem;
}

.btn-auth {
    background-color: white;
    color: #1F272B;
    border: 2px solid black;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    align-self: center; 
    margin-top: 1rem;
}

@media (min-width: 992px) {
    .login-grid {
        grid-template-columns: 1fr 1fr; 
        gap: 0;
    }

    .login-section:first-child{
        height: 110%;
        border-bottom: 0;
        border-right: 2px solid black;
    }
}