*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1F272B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    height: 100% ;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

main {
  flex: 1;
  background-color: #FCEEC5;
}

/*
***************  HEADER / FOOTER  ********************
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 1rem 2rem;
    background-color: #FF9800; /*oppure #EE964B?*/
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 8%;
    width: 100%;
    text-align: center;
    align-content: center;
    background-color: #FF9800; /*oppure #EE964B?*/
    padding: 0.2rem 0;    
    z-index: 1000;
    border-top: 2px solid #FF9800; 
}

nav ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.nav-button-img{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 1rem ; 
}

.dropdown{
    margin-left: 2rem;
    margin-right: 1rem;
}

footer {
    text-align: center;
    align-content: center;
    padding: 1rem;
    background-color: #FF9800; /*oppure #EE964B?*/
}

/*
******************* HOME ************************
*/

.home-container {
    display: grid;
    grid-template-columns: 1fr; /* Una colonna */
    gap: 20px;
    padding: 20px;
    padding-top: 4vh;
    width: 100%;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.sidebar-suggeriti .vertical-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.card {
    border: 2px solid #FF9800; /*oppure #EE964B?*/
    padding: 15px;
    background: white;
}

.card-grid > .card{
    color: blue; /*oppure #2596BB?*/
}



/*
***************** PER DESKTOP *********************
*/

@media (min-width: 992px) {
    body {
        padding-bottom: 0;
    }

    .nav {
        position: static; /* Riporta la nav dentro l'header */
        height: auto;
        width: auto;
        padding: 0;
        border-top: none;
    }

    nav ul {
        width: auto;
        gap: 1.5rem;
        justify-content: flex-end;
    }

    .nav-button-img{
        position: static;
        height: auto;
        width: auto;
        margin: 0;
    }

    .home-container {
        grid-template-columns: 2.9fr 1.1fr;
        margin: 0 auto;
    }

    .card-container{
        padding: 500rem;
    }

    .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-bottom: 0;
        padding: 2vh 3rem 2vh 3rem;
    }

    .sidebar-suggeriti .vertical-list {
        display: flex;
        flex-direction: column;
        grid-template-columns: none; /* Annulla le due colonne del mobile */
    }
}




/*
***************** CORSI *********************
*/
.courses-main {
    width: 100%;
    padding: 0;
    margin: 0;
}

.courses-container{
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

.courses-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    column-gap: 10px;
    list-style: none;
}

.course{
    line-height: 1.5;
    border-style: solid;
    border-color: #2596BB;
    border-radius: 10px;
    background-color: #BCF1F1;
    padding: 10px;
    margin: 8px;
}

.course h2{
    color: #2596BB;
    margin-bottom: 8px;
}

.course a{
    background-color: #2596BB;
    border-style: solid;
    border-color: #2596BB;
    border-radius: 5px;
    text-decoration: none;
    float: right;
}

.course a:hover{
    color: #FCEEC5;
}

.teachers-list ul{
    text-indent: 15px;
    list-style: disc;
    list-style-position: inside;
    padding-bottom: 8px;
}

.search-bar-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    height: 30px;
    margin: 20px 20%;
    border-style: solid;
    border-color: #FF9800;
    border-radius: 15px;
}

.search-bar-form input{
    background-color: #FCEEC5;
    border: none;
    outline: none;
    width: 150px;
}

.search-bar-form button{
    background-color: #FF9800;
    color: #1F272B;
    border-style: solid;
    border-radius: 15px;
    border-color: #FF9800;
    cursor: pointer;
    padding: 0 5px;
}

/*
***************** DESKTOP *********************
*/

@media screen and (min-width:768px){
    .courses-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;
    }

    .course{
        line-height: 1.5;
        border-style: solid;
        border-color: #2596BB;
        border-radius: 10px;
        background-color: #BCF1F1;
        padding: 10px;
        margin: 8px;
    }
}

